#eyes{
    position:absolute;
    width:50%;
    left:724px;
    top:230px;
    transform: translateY(0%);
}
#eye{
    background-color: white;
    border:5px solid black;
    border-radius: 50%;
    width:60px;
    height:60px;
    position:relative;
    display: inline-block;
    margin:15px;
    overflow: hidden;
}
.ball{
    background-color: black;
    border-radius:50%;
    width:15px;
    height:15px;
    position:absolute;
    left:50%;
    top:50%
}
